dash==2.14.2
plotly==5.24.1
pandas==1.5.3
matplotlib==3.7.5
dash-ag-grid==2.4.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
gunicorn==20.1.0
numpy==1.24.3
pymatgen
scipy
coverage>=6.3
vg
monty
tqdm
cmcrameri
testresources
